<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Demo Striming</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     
     
      <ul class="nav navbar-nav navbar-right">

        <li><button type="submit" class="btn btn-link">Log In</button></li>
        <li><button type="submit" class="btn btn-default">Start your free trial</button></li>

      
    </ul> 
         
  
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid gray">
    <div class="row">
        <div class="col-md-12">
         <h4>popular movies</h4>
           
        </div>
    </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-md-4">
          <form class="navbar-form navbar-left">
        <div class="form-group">
            <!-- <input [(ngModel)] = "searchTerm" (ngModelChange) = "search()"/> -->

          <input type="text" class="form-control" placeholder="Search" (keyup)="serchByTitleAttribute($event.target.value)">
        </div>
       
      </form>
             
          </div>

          <div class="col-md-4 pull-right">
              <ul class="nav navbar-nav navbar-right">
               
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Select <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a (click)="SortData('sortByYearDescending')">Sort by year in descending order</a></li>
                      <li><a (click)="SortData('sortByYearAscending')">Sort by year in ascending order</a></li>
                      <li><a (click)="SortData('sortByTitleDescending')">Sort by title in descending order</a></li>
                      <li><a (click)="SortData('sortByTitleAscending')">Sort by title in ascending order</a></li>
                                 
                    </ul>
                  </li>
                </ul>
                
             </div>
      </div>
    </div>
    
    <div class="container" *ngIf="isShown">
        <div class="row">
            <div class="boxouter">
                <div class="box" *ngFor="let res of movies | orderBy:'title'" > 
                   <div class="panel panel-default">
                      <img src={{res.images.posterArt.url}} height="100%" width="100%">
                      <div class="panel-body">{{res.title}}</div>
                <div class="panel-heading">{{res.description}}</div>
               
               </div>
                </div>
              </div>
            </div>

</div>
<div class="container-fluid" *ngIf="!isShown">
    
        <div class="row">
            <div class="col-md-12 ">
              <div class=" notFound text-center">
                  <h4>Data Not Found</h4> 
              </div>
             
            </div>
          </div>
        
</div>
<section class="foogray">
<div class="container">
    <div class="row">
        <div class="col-md-12">
         <ul class="list-inline">
           <li><a href="#">Home</a></li>
           <li><a href="javascript:void(0)">Tearms and Conditions</a></li>
           <li><a href="javascript:void(0)">Privacy Policy</a></li>
           <li><a href="javascript:void(0)">Collection Statment</a></li>
           <li><a href="javascript:void(0)">Help</a></li>
           <li><a href="javascript:void(0)">Manage Account</a></li>

         </ul>
           
        </div>
    </div>
  </div>
</section>



<router-outlet></router-outlet>
